<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <style>
      /* =====style btn===== */
        .button {
          display: inline-block;
          padding: 15px 25px;
          margin-bottom: 20px;
          margin-top: 0px;
          margin-left: 500px;
          font-size: 24px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          outline: none;
          color: #fff;
          background-color: #4CAF50;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
        }
        
        .button:hover {background-color: #3e8e41}
        
        .button:active {
          background-color: #3e8e41;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
        /* =====style btn===== */
        </style>
        </head>
        
        <form action="http://localhost:5000/home">
          <button type="submit" class="button" >Enter here please</button>
        </form>
        
    <img style = "margin-left: 20px;" src="https://cloudproserv.com/wp-content/uploads/2019/05/Welcome-to-our-new-website-1280x720.jpg">
</body>
</html>